<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Checkout List</title>  
    </head>
    <body>
        <table>
            <tr>
                <th style="padding: 4px">Book ISBN</th>
                <th style="padding: 4px">Book Name</th>
                <th style="padding: 4px">Check In</th>
            </tr>

            {{{body}}}

        </table>
    </body>
    <script src="/scripts/checks.js"></script>
</html>
