<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Requests</title>
  </head>
  <body>
    <div>
      <h3>Pending Requests</h3>
      <table border="2">
        <tr>
          <th style="padding: 5px">ISBN</th>
          <th style="padding: 5px">Book Name</th>
          <th style="padding: 5px">Requested by</th>
          <th style="padding: 5px">Approve</th>
          <th style="padding: 5px">Deny</th>
        </tr>

        {{{body}}}
      </table>
    </div>
  </body>
  <script src="/scripts/checks.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>