{{#each data}}

  <tr>

    <td>{{this.isbn}}</td>
    <td>{{this.title}}</td>
    <td>{{this.quantity}}</td>
    <td><button id="checkout-btn" onclick="checkoutFn({{this.isbn}})">CheckOut</button></td>

  </tr>

{{/each}}